table{
    border-collapse: collapse;
    background-color: #FFBD9D;
}

th{
    color: #7373B9;
    background-color: #FFAD86;
}

table, td, th{
    border: 1px solid black;
    padding: 4px;
}

#login{
    width: 300px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-150px;
    margin-top:-150px;
    text-align: center;
}

#highlighting{
    color: 	#7700BB;
    font-weight: bolder;
}

#topic{
    color: 	#7373B9;
    font-weight: bold;
}

#main{
    background-color: lightblue;

    font-family: Microsoft JhengHei;
}

#page{
    text-align: center;

    z-index: 1;

    margin: 0px auto;

    margin-left: 20%;

    margin-right: 20%;
}

#page table{
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

@media only screen and (max-width: 767px){
    #page{
        text-align: center;

        z-index: unset;

        margin: unset;

        margin-left: unset;
    }

    #page table{

        margin-left:unset; 

        margin-right:unset;

        text-align: center;

    }

}

div{
    margin-right: 0px;
    margin-left: 0px;
}

#twitter{
    z-index: 2;

    margin-top: 27%;

    display: block;

    float: right;
}

.video-container{

    display: block;

    z-index: 2;

    position: absolute;

    width: 23%;

    height: 43.3%;

    text-align: center;
}
 
.video-container iframe, .video-container object, .video-container embed {

    display: block;
    
    top: 0;left: 0;

    width: 100%;

    height: 60%;

}